
main .profilePageInner {
    margin: var(--primitives--sizes--spacing--spacing-8);
    border: 1px solid var(--primitives--swatches--greyscale--color-black-L73);
    background: var(--primitives--swatches--greyscale--color-black-L73);;
}
